/* место для вашего кода  */
.header {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  padding: 92px 52px 96px 50px;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__logo {
  justify-self: center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.address {
  font-style: normal;
}

.header__address {
  justify-self: end;
  padding-right: 7.5%;
}

.cover {
  position: relative;
  background-image: url('../images/cover.jpg');
  background-repeat: no-repeat;
  color: white;
  z-index: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.cover__title {
  display: flex;
  flex-direction: column;
  font-size: 100px;
  padding: 165px 50px 135px 50px;
  line-height: 104px;
  letter-spacing: 29px;
  z-index: 2;
}

.aligned-text {
  align-self: start;
}

.aligned-text_center {
  align-self: center;
  line-height: 1.5;
}

.aligned-text_right {
  align-self: flex-end;
}

.letter-spacing-extended {
  letter-spacing: 55px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-evenly;
}

.cover__description-text {
  word-spacing: 21px;
  font-size: 22px;
  line-height: 35px;
  text-transform: uppercase;
}

.bet-button {
  text-transform: uppercase;
  width: 256px;
  height: 51px;
  background: transparent;
  color: white;
  cursor: pointer;
  font-size: 20px;
  border: 1px solid white;
  align-self: center;
  position: relative;
  bottom: 6px;
  left: 14px;
}

.lots {
  padding: 179px 24px 0px 24px;
}

.lots__heading {
  font-size: 40px;
}

.lots__cart-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}