/* место для вашего кода  */
.header {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  padding: 92px 52px 96px 50px;
  align-items: center;
  font-size: 18px;
  font-weight: 400;
}

.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__logo {
  justify-self: center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.address {
  font-size: normal;
}

.header__address {
  justify-self: end;
  padding-right: 7.5%;
}

.cover {
  position: relative;
  background-image: url('../images/cover.jpg');
}

.overlay {}

.cover__title {}

.aligned-text {
  color: white;
}

.aligned-text_center {}

.aligned-text_right {}

.letter-spacing-extended {}

.no-letter-spacing {}

.cover__description {}

.cover__description-text {}

.bet-button {}